<?xml version="1.0"?>
<model>
  <name>Clever with Pi Camera and vl53l1x lidar</name>
  <version>1.0</version>
  <sdf version='1.4'>clever_opt_flow.sdf</sdf>

  <author>
   <name>Alexey Rogachevskiy</name>
   <email>sfalexrog@gmail.com</email>
  </author>

  <description>
    Clever 3 with a Raspberry Pi camera and a rangefinder. Suitable for
    computer vision navigation.
  </description>
</model>
