<?xml version="1.0"?>
<model>
  <name>Clever V3</name>
  <version>1.0</version>
  <sdf version='1.4'>clever.sdf</sdf>

  <author>
   <name>Andrey Ryabov and Alexey Rogachevskiy</name>
   <email>sfalexrog@gmail.com</email>
  </author>

  <description>
    This is a model of the Clever Quadrotor. The original model has been created by
    Andrey Ryabov and is maintained by Alexey Rogachevskiy.
  </description>
</model>
