<?xml version="1.0"?>
<model>
  <name>3DR Iris with Pi Camera and vl53l1x lidar</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_ros.sdf</sdf>

  <author>
   <name>Alexey Rogachevskiy</name>
   <email>sfalexrog@gmail.com</email>
  </author>

  <description>
    3DR Iris with a camera and a rangefinder. Here for a sanity check.
  </description>
</model>
