<?xml version="1.0"?>
<model>
    <name>ArUco Marker 106</name>
    <version>1.0</version>
    <sdf version="1.5">marker_106.sdf</sdf>
    <author>
        <name>Marker Generator script</name>
        <email>marker@generator.sh</email>
    </author>
    <description>
        ArUco marker #106
    </description>
</model>